In [5]:
import requests
import pandas  as pd 

# EIA API URL with your API key
api_url = "https://api.eia.gov/v2/co2-emissions/co2-emissions-aggregates/data/?frequency=annual&data[0]=value&sort[0][column]=period&sort[0][direction]=desc&offset=0&api_key=ixxID9vFalaJnrWYcqNbAPMFRkmKIiC4OJlAGoae"
# params = {
#     "frequency": "annual",
#     "data[0]": "value",
#     "sort[0][column]": "period",
#     "sort[0][direction]": "desc",
#     "offset": 0,
#     "length": 5000,
#     "api_key": "ixxID9vFalaJnrWYcqNbAPMFRkmKIiC4OJlAGoae"  # Replace with your actual API key
# }

# Function to fetch data from the EIA API
def fetch_data(api_url):
     
        response = requests.get(api_url)
        response.raise_for_status()  # Raise an exception for bad responses
        data = response.json()
        return data['response']['data']
   

# Fetch the data
data = fetch_data(api_url)

# Load data into a Pandas DataFrame
if data:
    df = pd.DataFrame(data)
    # print(df.head())  # Display the first few rows of the DataFrame
    print(df.shape[0])
else:
    print("No data retrieved.")

5000

In [3]:
df.head(100)

req_data = df[["period", "fuel-name", "stateId", "value"]]
req_data.head()

  period    fuel-name stateId     value
0   2021         Coal      SC         0
1   2021  Natural Gas      DC  1.499258
2   2021    Petroleum      DC  1.021598
3   2021         Coal      DC         0
4   2021    All Fuels      DC  2.520856

In [83]:
import requests
import pandas as pd



from sqlalchemy import create_engine


def fetch_data(api_url, params, no_of_records=None):
    """
    Fetch data from EIA API

    :param api_url: Provide the base API URL.
    :param params: Provide parameters for the data, e.g., your API key, frequency.
    :param no_of_records: Maximum number of records to fetch (default is None, meaning fetch all records).
    :return: A pandas DataFrame containing the fetched data.
    """
    params['offset'] = 0  
    complete_data = pd.DataFrame()
    total_records_fetched = 0  

    while True:
        response = requests.get(api_url, params=params)
        data = response.json()


        records = data['response']['data']

        if not records:
            break

        df = pd.DataFrame(records)
        complete_data = pd.concat([complete_data, df], ignore_index=True)
        total_records_fetched += len(records)
        params['offset'] += len(records)

        if no_of_records is  not None:
            if total_records_fetched>=no_of_records:
                return complete_data.iloc[:no_of_records]
        

    return complete_data

def mysql_connect(dataframe, table_name):
    """
    Insert DataFrame into MySQL.

    :param dataframe: DataFrame name
    :param table_name: Table name

    """
    mysql_connection_string = 'mysql+pymysql://root:root@localhost:3306/eia'
    engine = create_engine(mysql_connection_string)
    # Automatically detect the schema and insert data
    dataframe.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"{dataframe} stored in mysql")



api1_url = "https://api.eia.gov/v2/co2-emissions/co2-emissions-aggregates/data/"
api2_url = "https://api.eia.gov/v2/electricity/rto/daily-fuel-type-data/data/"
api3_url = "https://api.eia.gov/v2/international/data/"

api3_params = {
    "frequency": "annual",
    "data[0]": "value",
    "facets[productId][]": [116, 33, 37],
    "facets[countryRegionId][]": "USA",
    "sort[0][column]": "countryRegionId",
    "sort[0][direction]": "desc",
    "sort[1][column]": "period",
    "sort[1][direction]": "asc",
    "sort[2][column]": "productId",
    "sort[2][direction]": "asc",
    "sort[3][column]": "activityId",
    "sort[3][direction]": "asc",
    "api_key": "YOUR_API_KEY"

}
api1_params = {
    "frequency": "annual",
    "data[0]": "value",
    "api_key": "ixxID9vFalaJnrWYcqNbAPMFRkmKIiC4OJlAGoae"
}


api2_params = {
    "frequency": "daily",
    "data[0]": "value",
    "api_key": "ixxID9vFalaJnrWYcqNbAPMFRkmKIiC4OJlAGoae"
}



data_api1 = fetch_data(api1_url, api1_params,no_of_records=20000)
data_api2 = fetch_data(api2_url, api2_params,no_of_records=20000)  
data_api3 = fetch_data(api3_url, api3_params, no_of_records=20000 )

KeyError: 'response'

In [68]:
emission_factors = {
    'Coal': 0.91, 
    'Natural Gas': 0.45,  
    'Oil': 0.77,
    'Renewables':0  
}
print(emission_factors)

{'Coal': 0.91, 'Natural Gas': 0.45, 'Oil': 0.77, 'Renewables': 0}

In [69]:
data_api1['value'] = pd.to_numeric(data_api1['value'], errors='coerce')

In [78]:

data_api1_2 = data_api1[data_api1['fuel-name'].isin(emission_factors.keys())].copy()  


data_api1_2['emission_factors'] = data_api1_2['fuel-name'].map(emission_factors)


data_api1_2['value'] = pd.to_numeric(data_api1_2['value'], errors='coerce')


data_api1_2.loc[:, 'co2_emissions'] = data_api1_2['value'] * data_api1_2['emission_factors']

df_aggregated = data_api1_2.groupby(['period', 'state-name', 'fuel-name'], as_index=False)['co2_emissions'].sum()


print(df_aggregated.head(30))

# data_api1_2.head(20)
total_generation = data_api1_2['value'].sum()


total_emmission = data_api1_2["co2_emissions"].sum()
# print(total_generation)
# print(total_emmission)

weighted_avg = total_emmission/total_generation
print(weighted_avg)

   period      state-name    fuel-name  co2_emissions
0    1970         Alabama         Coal     115.145821
1    1970         Alabama  Natural Gas      14.314775
2    1970          Alaska         Coal       2.271419
3    1970          Alaska  Natural Gas       3.014971
4    1970         Arizona         Coal       1.492600
5    1970         Arizona  Natural Gas       9.624316
6    1970        Colorado         Coal      19.814172
7    1970        Colorado  Natural Gas      12.942792
8    1970     Connecticut         Coal       8.407499
9    1970     Connecticut  Natural Gas       2.905373
10   1970       Louisiana         Coal       0.000000
11   1970       Louisiana  Natural Gas      87.620405
12   1970           Maine         Coal       0.375636
13   1970           Maine  Natural Gas       0.061945
14   1970        Maryland         Coal      52.840273
15   1970        Maryland  Natural Gas       7.520815
16   1970        Michigan         Coal     142.349172
17   1970        Michigan  Natural Gas      38.631130
18   1970       Minnesota         Coal      30.986779
19   1970       Minnesota  Natural Gas      16.162343
20   1970            Ohio         Coal     269.138681
21   1970            Ohio  Natural Gas      50.591460
22   1970        Oklahoma         Coal       0.026876
23   1970        Oklahoma  Natural Gas      28.934570
24   1970    Rhode Island         Coal       0.039742
25   1970    Rhode Island  Natural Gas       1.210223
26   1970  South Carolina         Coal      24.226710
27   1970  South Carolina  Natural Gas       7.670492
28   1970    South Dakota         Coal       0.982920
29   1970    South Dakota  Natural Gas       1.725608
0.687131200392396

In [63]:
data_api1['emission_factors'] = data_api1['fuel-name'].map(emission_factors)


data_api1['co2_emissions'] = data_api1['value'] * data_api1['emission_factors']
data_api1.head(30)

df_aggregated = data_api1.groupby(['period', 'state-name', 'fuel-name'], as_index=False)['co2_emissions'].sum()

In [77]:
data_api1_2.head()

,period,sectorId,sector-name,fuelId,fuel-name,stateId,state-name,value,value-units,emission_factors,co2_emissions
1,1983,EC,Electric Power carbon dioxide emissions,NG,Natural Gas,CT,Connecticut,0.000000,million metric tons of CO2,0.45,0.000000
3,1983,IC,Industrial carbon dioxide emissions,CO,Coal,CT,Connecticut,0.018643,million metric tons of CO2,0.91,0.016965
5,1976,RC,Residential carbon dioxide emissions,NG,Natural Gas,CT,Connecticut,1.726755,million metric tons of CO2,0.45,0.777040
6,1983,IC,Industrial carbon dioxide emissions,NG,Natural Gas,CT,Connecticut,1.097123,million metric tons of CO2,0.45,0.493705
9,1983,TT,Total carbon dioxide emissions from all sectors,CO,Coal,CT,Connecticut,0.068099,million metric tons of CO2,0.91,0.061970

In [34]:
df_aggregated.head(30)

fossil_fuels = data_api1[data_api1['fuel-name'].isin(emission_factors.keys())]

   period   state-name    fuel-name  co2_emissions
0    1970      Alabama    All Fuels       0.000000
1    1970      Alabama         Coal     115.145821
2    1970      Alabama  Natural Gas      14.314775
3    1970      Alabama    Petroleum       0.000000
4    1970       Alaska    All Fuels       0.000000
5    1970       Alaska         Coal       2.271419
6    1970       Alaska  Natural Gas       3.014971
7    1970       Alaska    Petroleum       0.000000
8    1970      Arizona    All Fuels       0.000000
9    1970      Arizona         Coal       1.492600
10   1970      Arizona  Natural Gas       9.624316
11   1970      Arizona    Petroleum       0.000000
12   1970     Colorado    All Fuels       0.000000
13   1970     Colorado         Coal      19.814172
14   1970     Colorado  Natural Gas      12.942792
15   1970     Colorado    Petroleum       0.000000
16   1970  Connecticut    All Fuels       0.000000
17   1970  Connecticut         Coal       8.407499
18   1970  Connecticut  Natural Gas       2.905373
19   1970  Connecticut    Petroleum       0.000000
20   1970    Louisiana    All Fuels       0.000000
21   1970    Louisiana         Coal       0.000000
22   1970    Louisiana  Natural Gas      87.620405
23   1970    Louisiana    Petroleum       0.000000
24   1970        Maine    All Fuels       0.000000
25   1970        Maine         Coal       0.375636
26   1970        Maine  Natural Gas       0.061945
27   1970        Maine    Petroleum       0.000000
28   1970     Maryland    All Fuels       0.000000
29   1970     Maryland         Coal      52.840273

In [47]:
data_api1['value'] = pd.to_numeric(data_api1['value'], errors='coerce')

In [59]:
fossil_fuels = data_api1[data_api1['fuel-name'].isin(emission_factors.keys())]
total_generation = fossil_fuels['value'].sum()

print(total_generation)

fossil_fuels['emission_factors'] = pd.to_numeric(fossil_fuels['emission_factors'], errors='coerce')
fossil_fuels = fossil_fuels.dropna(subset=['value', 'emission_factors'])

113542.386459

C:\Users\JayShah\AppData\Local\Temp\ipykernel_5852\3740137989.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fossil_fuels['emission_factors'] = pd.to_numeric(fossil_fuels['emission_factors'], errors='coerce')

In [61]:
fossil_fuels['weighted_contribution'] = fossil_fuels['value'] * fossil_fuels['emission_factors']
total_weighted_contribution = fossil_fuels['weighted_contribution'].sum()
weighted_avg_emission_factor = total_weighted_contribution / total_generation
print(weighted_avg_emission_factor)

0.687131200392396

In [50]:

print(fossil_fuels[['value', 'emission_factors']].dtypes)

value                object
emission_factors    float64
dtype: object

In [51]:
fossil_fuels['value'] = pd.to_numeric(fossil_fuels['value'], errors='coerce')

C:\Users\JayShah\AppData\Local\Temp\ipykernel_5852\3130937248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fossil_fuels['value'] = pd.to_numeric(fossil_fuels['value'], errors='coerce')

In [79]:
data_api2.head()

,period,respondent,respondent-name,fueltype,type-name,timezone,timezone-description,value,value-units
0,2024-09-29,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Central,Central,32648,megawatthours
1,2024-09-29,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Eastern,Eastern,32648,megawatthours
2,2024-09-29,AECI,"Associated Electric Cooperative, Inc.",NG,Natural Gas,Central,Central,11683,megawatthours
3,2024-09-29,AECI,"Associated Electric Cooperative, Inc.",NG,Natural Gas,Eastern,Eastern,11683,megawatthours
4,2024-09-29,AECI,"Associated Electric Cooperative, Inc.",WND,Wind,Central,Central,10057,megawatthours

new transformarion

In [84]:
generation_data = data_api3[data_api3['activityName'] == 'Generation']

In [85]:
# Convert BKWH to MWh
generation_data['value_mwh'] = generation_data['value'] * 1000  # Converting billion kWh to MWh

C:\Users\JayShah\AppData\Local\Temp\ipykernel_5852\394896576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  generation_data['value_mwh'] = generation_data['value'] * 1000  # Converting billion kWh to MWh

In [89]:
fossil_fuels = data_api2[data_api2['type-name'].isin(emission_factors.keys())]
fossil_fuels['generation_mwh'] = pd.to_numeric(fossil_fuels['value'], errors='coerce')

C:\Users\JayShah\AppData\Local\Temp\ipykernel_5852\2728014629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fossil_fuels['generation_mwh'] = pd.to_numeric(fossil_fuels['value'], errors='coerce')

In [91]:
fossil_fuels['weighted_contribution'] = fossil_fuels['generation_mwh'] * fossil_fuels['type-name'].map(emission_factors)
fossil_fuels.head(10)

C:\Users\JayShah\AppData\Local\Temp\ipykernel_5852\2647296867.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fossil_fuels['weighted_contribution'] = fossil_fuels['generation_mwh'] * fossil_fuels['type-name'].map(emission_factors)

,period,respondent,respondent-name,fueltype,type-name,timezone,timezone-description,value,value-units,generation_mwh,weighted_contribution
0,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Central,Central,35188,megawatthours,35188,32021.08
1,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Eastern,Eastern,35188,megawatthours,35188,32021.08
2,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",NG,Natural Gas,Central,Central,13119,megawatthours,13119,5903.55
3,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",NG,Natural Gas,Eastern,Eastern,13119,megawatthours,13119,5903.55
6,2024-09-30,BANC,Balancing Authority of Northern California,NG,Natural Gas,Arizona,Arizona,21360,megawatthours,21360,9612.00
7,2024-09-30,BANC,Balancing Authority of Northern California,NG,Natural Gas,Central,Central,21360,megawatthours,21360,9612.00
8,2024-09-30,BANC,Balancing Authority of Northern California,NG,Natural Gas,Eastern,Eastern,21360,megawatthours,21360,9612.00
9,2024-09-30,BANC,Balancing Authority of Northern California,NG,Natural Gas,Mountain,Mountain,21360,megawatthours,21360,9612.00
10,2024-09-30,BANC,Balancing Authority of Northern California,NG,Natural Gas,Pacific,Pacific,21360,megawatthours,21360,9612.00
26,2024-09-30,CAL,California,NG,Natural Gas,Arizona,Arizona,21360,megawatthours,21360,9612.00

In [98]:
total_weighted_contribution = fossil_fuels['weighted_contribution'].sum()
total_generation = fossil_fuels['generation_mwh'].sum()
weighted_avg_emission_factor = total_weighted_contribution / total_generation

print(weighted_avg_emission_factor)

0.5773603894862496

In [99]:
renewable_generation_mwh = fossil_fuels[fossil_fuels['type-name'] == 'Hydroelectricity']['generation_mwh'].sum()  # Replace with actual renewable data
print(renewable_generation_mwh)
# Calculate CO2 emissions avoided
co2_reduction = renewable_generation_mwh * weighted_avg_emission_factor

print(f"CO2 Reduction: {co2_reduction} tons")

0
CO2 Reduction: 0.0 tons

In [101]:
def case_statement(row):
    if row['value-units'] == "billion metric tons of CO2":
        return row['value'] * 1000 
    else:
        return row["value"]
        
data_api1['value_in_mmt'] = data_api1.apply(case_statement, axis=1)

data_api1.head()

,period,sectorId,sector-name,fuelId,fuel-name,stateId,state-name,value,value-units,value_in_mmt
0,1983,EC,Electric Power carbon dioxide emissions,PE,Petroleum,CT,Connecticut,9.314567,million metric tons of CO2,9.314567
1,1983,EC,Electric Power carbon dioxide emissions,NG,Natural Gas,CT,Connecticut,0,million metric tons of CO2,0
2,1983,EC,Electric Power carbon dioxide emissions,TO,All Fuels,CT,Connecticut,9.314567,million metric tons of CO2,9.314567
3,1983,IC,Industrial carbon dioxide emissions,CO,Coal,CT,Connecticut,.018643,million metric tons of CO2,.018643
4,1983,IC,Industrial carbon dioxide emissions,PE,Petroleum,CT,Connecticut,1.595678,million metric tons of CO2,1.595678

In [4]:
emission_factors = {
    'COL': 0.91,  # tons of CO2 per MWh
    'NG': 0.42, 
    'OIL':0.93
     # Assume an average emission factor for "Other"
}

In [9]:
for key, value in emission_factors:
    print(key)

ValueError: too many values to unpack (expected 2)

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# emission_factors = {
#     'Coal': 0.91, 
#     'Natural Gas': 0.45,  
#     'Petroleum': 0.77
     
# }

def fetch_data_from_mysql(table_name):
    """
    Fetch data from MySQL.

    :param table_name: The name of the table to fetch data from.
    :return: A pandas DataFrame containing the fetched data.
    """
    mysql_connection_string = 'mysql+pymysql://root:root@localhost:3306/eia'
    engine = create_engine(mysql_connection_string)

    # Read the data from the table into a DataFrame
    query = f"SELECT * FROM {table_name}"
    dataframe = pd.read_sql(query, con=engine)

    return dataframe

try:
    df1 = fetch_data_from_mysql("df1")
    df2 = fetch_data_from_mysql("df2")
    df3 = fetch_data_from_mysql("df3")
except Exception as e:
    print(f"Error fetching data: {e}")

emission_factors = fetch_data_from_mysql("emission_factor")

# df1 = fetch_data_from_mysql("df1")
# df2 = fetch_data_from_mysql("df2")
# df3 = fetch_data_from_mysql("df3")
df2['value'] = pd.to_numeric(df2['value'], errors='coerce')
df2['value'] = df2['value'].apply(lambda x: x if x is None or x >= 0 else np.nan)

In [22]:
df2.head()

,period,respondent-name,type-name,value,value-units,emission_factor
0,2024-10-03,"Associated Electric Cooperative, Inc.",Coal,32460.0,megawatthours,1.03
1,2024-10-03,"Associated Electric Cooperative, Inc.",Coal,32460.0,megawatthours,1.03
2,2024-10-03,"Associated Electric Cooperative, Inc.",Natural Gas,11132.0,megawatthours,0.42
3,2024-10-03,"Associated Electric Cooperative, Inc.",Natural Gas,11132.0,megawatthours,0.42
4,2024-10-03,"Associated Electric Cooperative, Inc.",Wind,9642.0,megawatthours,0.00

In [2]:


# Use map() to map emission factors to df2's 'type-name' column
df2['emission_factor'] = df2['type-name'].map(emission_factors_dict)

# Fill missing values
df2['emission_factor'].fillna(0, inplace=True)

ValueError: 2