In [1]:
import requests
import pandas as pd
from sqlalchemy import create_engine

from dotenv import load_dotenv
# import secret as secret


def fetch_data(api_url, params, no_of_records=None):
    """
    Fetch data from EIA API

    :param api_url: Provide the base API URL.
    :param params: Provide parameters for the data, e.g., your API key, frequency.
    :param no_of_records: Maximum number of records to fetch (default is None, meaning fetch all records).
    :return: A pandas DataFrame containing the fetched data.
    """
    params['offset'] = 500000
    complete_data = pd.DataFrame()
    total_records_fetched = 0  

    while True:
        response = requests.get(api_url, params=params)
        # response.raise_for_status()
        data = response.json()

        records = data['response']['data']

        if not records:
            break

        df = pd.DataFrame(records)
        complete_data = pd.concat([complete_data, df], ignore_index=True)
        total_records_fetched += len(records)
        params['offset'] += len(records)

        if no_of_records is  not None:
            if total_records_fetched>=no_of_records:
                return complete_data.iloc[:no_of_records]
        

    return complete_data



def mysql_connect(dataframe, table_name):
    """
    Insert DataFrame into MySQL.

    :param dataframe: DataFrame name
    :param table_name: Table name

    """
    mysql_connection_string = 'mysql+pymysql://root:root@localhost:3306/eia'
    engine = create_engine(mysql_connection_string)
 
    dataframe.to_sql(table_name, con=engine, if_exists='append', index=False)
    print(f"{dataframe} stored in mysql")

base_url = "https://api.eia.gov/v2/"


api1_url = f"{base_url}co2-emissions/co2-emissions-aggregates/data/"
api2_url = f"{base_url}electricity/rto/daily-fuel-type-data/data/"
api3_url = f"{base_url}international/data/"

# print(api1_url)
api3_params = {
    "frequency": "annual",
    "data[0]": "value",
    "facets[productId][]": [116, 33, 37],
    "facets[countryRegionId][]": "USA",
    "api_key": "ixxID9vFalaJnrWYcqNbAPMFRkmKIiC4OJlAGoae"

}
api1_params = {
    "frequency": "annual",
    "data[0]": "value",
    "api_key": "ixxID9vFalaJnrWYcqNbAPMFRkmKIiC4OJlAGoae"
}


api2_params = {
    "frequency": "daily",
    "data[0]": "value",
    "api_key": "ixxID9vFalaJnrWYcqNbAPMFRkmKIiC4OJlAGoae"
}

# print(api_key)
# df1 = fetch_data(api1_url, api1_params, no_of_records=5000)
df2 = fetch_data(api2_url, api2_params, no_of_records=50000)  
# df3 = fetch_data(api3_url, api3_params, no_of_records=5000)
data_api2=df2[['period','respondent-name','type-name','value','value-units']]
# df1 = df1[["period",'fuel-name','state-name','value','value-units']]
# print(df1)

# # mysql_connect(data_api1,"df1")
mysql_connect(data_api2,"df2")
# mysql_connect(data_api3,"df3")

KeyboardInterrupt:

In [4]:
df3 = fetch_data(api3_url, api3_params, no_of_records=5001)
df1 = fetch_data(api1_url, api1_params, no_of_records=5001)

In [3]:
print(df3)

NameError: name 'df3' is not defined

In [4]:
emission_factors = {
    'Coal': 0.91, 
    'Natural Gas': 0.45,  
    'Oil': 0.77,
    'Renewables':0  
}
print(emission_factors)

{'Coal': 0.91, 'Natural Gas': 0.45, 'Oil': 0.77, 'Renewables': 0}

In [5]:
data_api2['value'] = pd.to_numeric(data_api2['value'], errors='coerce')
data_api2.info()

NameError: name 'data_api2' is not defined

In [7]:
data_api_new = data_api2[data_api2['type-name'].isin(emission_factors.keys())] 


data_api_new['emission_factors'] = data_api_new['type-name'].map(emission_factors)


data_api_new['co2_emissions(tons)'] = data_api_new['value'] * data_api_new['emission_factors']

data_api_new.head(20)

C:\Users\JayShah\AppData\Local\Temp\ipykernel_18884\2583005485.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_api_new['emission_factors'] = data_api_new['type-name'].map(emission_factors)
C:\Users\JayShah\AppData\Local\Temp\ipykernel_18884\2583005485.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_api_new['co2_emissions(tons)'] = data_api_new['value'] * data_api_new['emission_factors']

,period,respondent,respondent-name,fueltype,type-name,timezone,timezone-description,value,value-units,emission_factors,co2_emissions(tons)
0,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Central,Central,35188,megawatthours,0.91,32021.08
1,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",COL,Coal,Eastern,Eastern,35188,megawatthours,0.91,32021.08
2,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",NG,Natural Gas,Central,Central,13119,megawatthours,0.45,5903.55
3,2024-09-30,AECI,"Associated Electric Cooperative, Inc.",NG,Natural Gas,Eastern,Eastern,13119,megawatthours,0.45,5903.55
6,2024-09-30,AVA,Avista Corporation,NG,Natural Gas,Arizona,Arizona,8793,megawatthours,0.45,3956.85
7,2024-09-30,AVA,Avista Corporation,NG,Natural Gas,Central,Central,8793,megawatthours,0.45,3956.85
8,2024-09-30,AVA,Avista Corporation,NG,Natural Gas,Eastern,Eastern,8793,megawatthours,0.45,3956.85
9,2024-09-30,AVA,Avista Corporation,NG,Natural Gas,Mountain,Mountain,8793,megawatthours,0.45,3956.85
10,2024-09-30,AVA,Avista Corporation,NG,Natural Gas,Pacific,Pacific,8793,megawatthours,0.45,3956.85
31,2024-09-30,AVRN,"Avangrid Renewables, LLC",NG,Natural Gas,Arizona,Arizona,10456,megawatthours,0.45,4705.20
32,2024-09-30,AVRN,"Avangrid Renewables, LLC",NG,Natural Gas,Central,Central,10456,megawatthours,0.45,4705.20
33,2024-09-30,AVRN,"Avangrid Renewables, LLC",NG,Natural Gas,Eastern,Eastern,10456,megawatthours,0.45,4705.20
34,2024-09-30,AVRN,"Avangrid Renewables, LLC",NG,Natural Gas,Mountain,Mountain,10456,megawatthours,0.45,4705.20
35,2024-09-30,AVRN,"Avangrid Renewables, LLC",NG,Natural Gas,Pacific,Pacific,10456,megawatthours,0.45,4705.20
51,2024-09-30,AZPS,Arizona Public Service Company,COL,Coal,Arizona,Arizona,28152,megawatthours,0.91,25618.32
52,2024-09-30,AZPS,Arizona Public Service Company,COL,Coal,Central,Central,28152,megawatthours,0.91,25618.32
53,2024-09-30,AZPS,Arizona Public Service Company,COL,Coal,Eastern,Eastern,28152,megawatthours,0.91,25618.32
54,2024-09-30,AZPS,Arizona Public Service Company,COL,Coal,Mountain,Mountain,28152,megawatthours,0.91,25618.32
55,2024-09-30,AZPS,Arizona Public Service Company,COL,Coal,Pacific,Pacific,28152,megawatthours,0.91,25618.32
56,2024-09-30,AZPS,Arizona Public Service Company,NG,Natural Gas,Arizona,Arizona,28145,megawatthours,0.45,12665.25

In [8]:
df_aggregated = data_api_new.groupby(['period','type-name'], as_index=False)['co2_emissions(tons)'].sum()

In [9]:
df_aggregated.head(20)

       period    type-name  co2_emissions(tons)
0  2024-09-27         Coal           2300873.12
1  2024-09-27  Natural Gas           1757594.25
2  2024-09-28         Coal          24096057.44
3  2024-09-28  Natural Gas          29271829.05
4  2024-09-29         Coal          24189866.61
5  2024-09-29  Natural Gas          30059275.50
6  2024-09-30         Coal          10118863.30
7  2024-09-30  Natural Gas          11015640.00

In [10]:
df_aggregated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   period               8 non-null      object
 1   type-name            8 non-null      object
 2   co2_emissions(tons)  8 non-null      float64
dtypes: float64(1), object(2)
memory usage: 324.0+ bytes

In [11]:
data_api_new['period'] = pd.to_datetime(data_api_new['period'])

# Extract the year and create a new column
data_api_new['year'] = data_api_new['period'].dt.year
df_aggregated = data_api_new.groupby(['year', 'type-name'], as_index=False)['co2_emissions(tons)'].sum()

print(df_aggregated)

   year    type-name  co2_emissions(tons)
0  2024         Coal          60705660.47
1  2024  Natural Gas          72104338.80

C:\Users\JayShah\AppData\Local\Temp\ipykernel_18884\3325002521.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_api_new['period'] = pd.to_datetime(data_api_new['period'])
C:\Users\JayShah\AppData\Local\Temp\ipykernel_18884\3325002521.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_api_new['year'] = data_api_new['period'].dt.year

In [14]:
new_data = data_api1

new_data.head()

,period,sectorId,sector-name,fuelId,fuel-name,stateId,state-name,value,value-units
0,1983,EC,Electric Power carbon dioxide emissions,PE,Petroleum,CT,Connecticut,9.314567,million metric tons of CO2
1,1983,EC,Electric Power carbon dioxide emissions,NG,Natural Gas,CT,Connecticut,0,million metric tons of CO2
2,1983,EC,Electric Power carbon dioxide emissions,TO,All Fuels,CT,Connecticut,9.314567,million metric tons of CO2
3,1983,IC,Industrial carbon dioxide emissions,CO,Coal,CT,Connecticut,.018643,million metric tons of CO2
4,1983,IC,Industrial carbon dioxide emissions,PE,Petroleum,CT,Connecticut,1.595678,million metric tons of CO2

In [21]:

df2.head()

,period,respondent-name,type-name,value,value-units,Year
0,2024-10-03,"Associated Electric Cooperative, Inc.",Coal,32460,megawatthours,2024
1,2024-10-03,"Associated Electric Cooperative, Inc.",Coal,32460,megawatthours,2024
2,2024-10-03,"Associated Electric Cooperative, Inc.",Natural Gas,11132,megawatthours,2024
3,2024-10-03,"Associated Electric Cooperative, Inc.",Natural Gas,11132,megawatthours,2024
4,2024-10-03,"Associated Electric Cooperative, Inc.",Wind,9642,megawatthours,2024

In [18]:

df2['Year'] = pd.to_datetime(df2['period']).dt.year
df2['value'] = pd.to_numeric(df2['value'])
emission_factors = {
    'coal': 1.03, 
    'Natural Gas': 0.42, 
    'Petroleum':0.93
}
renewables = ['Wind', 'Solar', 'Hydro']  
non_renewables = ['Coal', 'Natural Gas', 'Petroleum','Nuclear']

renewable_generation = df2[df2['type-name'].isin(renewables)]['value'].sum()

non_renewable = df2[df2['type-name'].isin(non_renewables)]
non_renewable['emission_factor'] = non_renewable['type-name'].map(emission_factors)


weighted_avg_emission_factor = (non_renewable['value'] * non_renewable['emission_factor']).sum() / non_renewable['value'].sum()


co2_reduction = renewable_generation * weighted_avg_emission_factor

print(f"renewabl generation:  {renewable_generation}")
print(f"weighted average emission factor : {weighted_avg_emission_factor}")
print(f"CO2 Emissions Avoided: {co2_reduction} ")

renewabl generation:  82102915
weighted average emission factor : 0.23896815046261025
CO2 Emissions Avoided: 19619981.7451389

C:\Users\JayShah\AppData\Local\Temp\ipykernel_10296\1269835771.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_renewable['emission_factor'] = non_renewable['type-name'].map(emission_factors)

In [85]:
# # df2.head()
# df2.Year.unique()
# non_renewable = df2[df2['fueltype'].isin(non_renewables)]
# non_renewable['emission_factor'] = non_renewable['fueltype'].map(emission_factors)

C:\Users\JayShah\AppData\Local\Temp\ipykernel_20272\926887166.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_renewable['emission_factor'] = non_renewable['fueltype'].map(emission_factors)

In [86]:
non_renewable["value"].sum()

np.int64(1345707484)

In [25]:

weighted_avg_emission_factor = (non_renewable['value'] * non_renewable['emission_factor']).sum() / non_renewable['value'].sum()


co2_reduction = renewable_generation * weighted_avg_emission_factor

print(f"renewabl generation:  {renewable_generation}")
print(f"weighted average emission factor : {weighted_avg_emission_factor}")
print(f"CO2 Emissions Avoided: {co2_reduction} ")

renewabl generation:  858808339
weighted average emission factor : 0.21295470815177886
CO2 Emissions Avoided: 182887279.19005898

In [27]:
df2.head()

,period,respondent-name,type-name,value,value-units,Year
0,2024-01-20,Western Area Power Administration - Upper Grea...,Hydro,1613,megawatthours,2024
1,2024-01-20,Western Area Power Administration - Upper Grea...,Hydro,1603,megawatthours,2024
2,2024-01-20,"NaturEner Wind Watch, LLC",Wind,2439,megawatthours,2024
3,2024-01-20,"NaturEner Wind Watch, LLC",Wind,2474,megawatthours,2024
4,2024-01-20,"NaturEner Wind Watch, LLC",Wind,2511,megawatthours,2024

In [21]:
yearly_co2_reduction = []

for year, group in df2.groupby('Year'):
    renewable_generation = group[group['type-name'].isin(renewables)]['value'].sum()
    

    non_renewable_gen = group[group['type-name'].isin(non_renewables)]
    
    weighted_avg_emission_factor = (non_renewable_gen['value'] * non_renewable_gen['type-name'].map(emission_factors)).sum() / non_renewable_gen['value'].sum()
     

   
    co2_reduction = renewable_generation * weighted_avg_emission_factor
    

    yearly_co2_reduction.append({
        'Year': year,
        'Total Renewable Generation': renewable_generation,
        'Weighted Average Emission Factor': weighted_avg_emission_factor,
        'CO2 Emissions Avoided': co2_reduction
    })

In [22]:
yearly_co2_df = pd.DataFrame(yearly_co2_reduction)


print(yearly_co2_df)

   Year  Total Renewable Generation  Weighted Average Emission Factor  \
0  2024                    82102915                          0.238968

   CO2 Emissions Avoided
0           1.961998e+07

In [9]:
print(df3.head())

Empty DataFrame
Columns: []
Index: []

In [12]:


df_capacity = df3[(df3['activityName'] == 'Capacity')]

print(df_capacity)

    period productId       productName activityId activityName  \
3     2008        33  Hydroelectricity          7     Capacity
21    2011       116             Solar          7     Capacity
25    2016        33  Hydroelectricity          7     Capacity
26    2009       116             Solar          7     Capacity
27    1985        37              Wind          7     Capacity
..     ...       ...               ...        ...          ...
593   1996        33  Hydroelectricity          7     Capacity
600   2005        37              Wind          7     Capacity
602   2010        37              Wind          7     Capacity
605   2021        37              Wind          7     Capacity
609   1985        33  Hydroelectricity          7     Capacity

    countryRegionId countryRegionName countryRegionTypeId  \
3               USA     United States                   c
21              USA     United States                   c
25              USA     United States                   c
26              USA     United States                   c
27              USA     United States                   c
..              ...               ...                 ...
593             USA     United States                   c
600             USA     United States                   c
602             USA     United States                   c
605             USA     United States                   c
609             USA     United States                   c

    countryRegionTypeName dataFlagId  \
3                 Country       None
21                Country       None
25                Country       None
26                Country       None
27                Country          5
..                    ...        ...
593               Country       None
600               Country       None
602               Country       None
605               Country       None
609               Country       None

                                   dataFlagDescription           unitName  \
3                                                 None  million kilowatts
21                                                None  million kilowatts
25                                                None  million kilowatts
26                                                None  million kilowatts
27   A value exists, but rounds to zero; non-rounde...  million kilowatts
..                                                 ...                ...
593                                               None  million kilowatts
600                                               None  million kilowatts
602                                               None  million kilowatts
605                                               None  million kilowatts
609                                               None  million kilowatts

        value unit
3       77.93   MK
21     1.5235   MK
25    79.9129   MK
26      .6185   MK
27    .017501   MK
..        ...  ...
593  76.43742   MK
600   8.70641   MK
602   39.1345   MK
605  132.7534   MK
609      88.9   MK

[110 rows x 14 columns]

In [23]:
df_capacity['value'] = pd.to_numeric(df_capacity['value'], errors='coerce')
df_capacity = df_capacity.sort_values(by='period')
df_capacity['capacity_increase'] = df_capacity['value'].diff()  
df_capacity['capacity_increase'].fillna(0, inplace=True)
print(df_capacity[['period','productName', 'activityName','value', 'capacity_increase']])

    period       productName activityName       value  capacity_increase
184   1980  Hydroelectricity     Capacity   81.700000           0.000000
453   1981  Hydroelectricity     Capacity   82.400000           0.700000
95    1981              Wind     Capacity    0.000360         -82.399640
160   1982              Wind     Capacity    0.005555           0.005195
247   1982  Hydroelectricity     Capacity   83.000000          82.994445
..     ...               ...          ...         ...                ...
559   2022  Hydroelectricity     Capacity   80.067600         -52.685800
56    2022              Wind     Capacity  141.402200          61.334600
477   2022             Solar     Capacity  112.689500         -28.712700
479   2023              Wind     Capacity  147.639800          34.950300
71    2023  Hydroelectricity     Capacity   80.089700         -67.550100

[110 rows x 5 columns]

C:\Users\JayShah\AppData\Local\Temp\ipykernel_16592\991904490.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_capacity['capacity_increase'].fillna(0, inplace=True)

In [15]:
df_capacity['value'] = pd.to_numeric(df_capacity['value'], errors='coerce')
df_capacity = df_capacity.sort_values(by=['productName', 'period'])

df_capacity['capacity_increase'] = df_capacity.groupby('productName')['value'].diff()
df_capacity['capacity_increase'].fillna(0, inplace=True)

df_capacity=df_capacity[['period', 'productName', 'activityName', 'value', 'capacity_increase']]

C:\Users\JayShah\AppData\Local\Temp\ipykernel_10296\3352690794.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_capacity['capacity_increase'].fillna(0, inplace=True)

In [16]:
df_capacity.head(30)

    period       productName activityName      value  capacity_increase
289   1980  Hydroelectricity     Capacity  81.700000           0.000000
198   1981  Hydroelectricity     Capacity  82.400000           0.700000
458   1982  Hydroelectricity     Capacity  83.000000           0.600000
311   1983  Hydroelectricity     Capacity  83.900000           0.900000
571   1984  Hydroelectricity     Capacity  85.300000           1.400000
609   1985  Hydroelectricity     Capacity  88.900000           3.600000
259   1986  Hydroelectricity     Capacity  89.300000           0.400000
98    1987  Hydroelectricity     Capacity  89.700000           0.400000
141   1988  Hydroelectricity     Capacity  90.300000           0.600000
340   1989  Hydroelectricity     Capacity  74.110934         -16.189066
43    1990  Hydroelectricity     Capacity  73.923050          -0.187884
549   1991  Hydroelectricity     Capacity  76.036310           2.113260
199   1992  Hydroelectricity     Capacity  74.772700          -1.263610
490   1993  Hydroelectricity     Capacity  77.410420           2.637720
49    1994  Hydroelectricity     Capacity  78.040930           0.630510
312   1995  Hydroelectricity     Capacity  78.561730           0.520800
593   1996  Hydroelectricity     Capacity  76.437420          -2.124310
447   1997  Hydroelectricity     Capacity  79.414580           2.977160
210   1998  Hydroelectricity     Capacity  79.150650          -0.263930
372   1999  Hydroelectricity     Capacity  79.393070           0.242420
52    2000  Hydroelectricity     Capacity  79.359079          -0.033991
364   2001  Hydroelectricity     Capacity  78.915780          -0.443299
131   2002  Hydroelectricity     Capacity  79.355900           0.440120
166   2003  Hydroelectricity     Capacity  78.693910          -0.661990
44    2004  Hydroelectricity     Capacity  77.640500          -1.053410
567   2005  Hydroelectricity     Capacity  77.540870          -0.099630
320   2006  Hydroelectricity     Capacity  77.820960           0.280090
483   2007  Hydroelectricity     Capacity  77.885000           0.064040
3     2008  Hydroelectricity     Capacity  77.930000           0.045000
290   2009  Hydroelectricity     Capacity  78.518000           0.588000